.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 48px;
  background: linear-gradient(90deg, #0a2342, #0d3b66);
  color: white;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.navbar a {
  margin: 0 12px;

  &:hover {
    text-decoration: underline;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;

  & a {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.cta {
  background: orange;
  border: none;
  padding: 10px 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: black;
    color: orange;
  }
}

@media (max-width: 839px) {
  .navbar {
    display: none;
  }

  .header {
    padding: 12px 15px;
  }

  .cta {
    padding: 8px;
    font-size: 0.75rem;
  }

  .logo {
    font-size: 0.75rem;
  }

  .actions a {
    font-size: 0.75rem;
  }
}
